<div class="footer">

  <p class="text-center text-muted">
    Sitio alojado en <a href="https://pages.github.com/">Github Pages</a>.
    <!--<br>-->
    Desarrollado con <a href="{{ site.reflinks.urubu.url }}">Urubu</a> y
    <a href="{{ site.reflinks.bootstrap.url }}">Bootstrap</a> por
    <a href="{{ site.author.url }}">{{ site.author.name }}</a>.
    El código fuente está disponible en
    <a href="{{ site.reflinks.website_repo.url }}">{{ site.reflinks.website_repo.title }}</a>.
    <br>
    Todo el contenido en este sitio se encuentra bajo la licencia
    <a href="{{ site.reflinks.license.url }}">{{ site.license }}</a>, excepto si se
    encuentra explicitado.
    <br>
    Este sitio utiliza
    <a href="https://analytics.google.com">Google Analytics</a>
    para obtener estadísticas de las visitas.
</p>


</div>


