{% extends "_base.html" %}

{% block home %}
{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <h1>{{this.title}}</h1>
         <h2>{{this.tagline}}</h2>
      </div>
   </div>
 </div>
</div>


<div class="container">

{{ this.body }}

  <div class="row card-index">
    <div class="col-md-4">
      <div class="thumbnail card">
        <a href="http://www.google.com/">
        <img class="img-responsive" src="/assets/practicas.png">
        <div class="caption">
          <h3>Prácticas</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail card">
        <a href="http://www.google.com/">
        <img class="img-responsive" src="/assets/bibliografia.png">
        <div class="caption">
          <h3>Bibliografía</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail card">
        <a href="http://www.google.com/">
        <img class="img-responsive" src="/assets/herramientas.png">
        <div class="caption">
          <h3>Herramientas</h3>
        </div>
      </div>
  </div>

</div>

{% endblock %}
