{% extends "_base.html" %}

{% block home %}
{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <h1>{{this.title}}</h1>
         <h2>{{this.tagline}}</h2>
      </div>
   </div>
 </div>
</div>


<div class="container">

  {{ this.body }}


  <div class="row card-index">

    {% for subpage in this.content %}

      <div class="col-md-4">
        <div class="thumbnail card">
          <a href={{ subpage.url }}>
            <img class="img-responsive" src="/{{ site.thumbnails }}/{{ subpage.thumbnail }}">
          <div class="caption">
            <h3>{{ subpage.title }}</h3>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>

</div>

{% endblock %}
